<%= form_with(model: tweet, local: true) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <%= image_tag("logo1.png")%><br>
        <i class="fas fa-cog" style="font-size:30px;color:#00acee;"></i>&nbsp;Home<br>
        <i class="fab fa-slack-hash" style="font-size:30px;color:#00acee;"></i>&nbsp;Explorel<br>
        <i class="fas fa-bell" style="font-size:30px;color:#00acee;"></i>&nbsp;Notification<br>
        <i class="far fa-envelope" style="font-size:30px;color:#00acee;"></i>&nbsp;Messages<br>
        <i class="far fa-bookmark" style="font-size:30px;color:#00acee;"></i>&nbsp;Bookmarks<br>
        <i class="fas fa-list" style="font-size:30px;color:#00acee;"></i>&nbsp;list<br>
        <i class="fas fa-user" style="font-size:30px;color:#00acee;"></i>&nbsp;profile<br>
        <i class="fab fa-algolia" style="font-size:30px;color:#00acee;"></i>&nbsp;More<br><br>
        <%= link_to 'New Tweet', new_tweet_path, class:"btn btn-primary", class:"link"%>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <%= form_with(model: tweet, local: true) do |form| %>
          <div class="form-group">
            <%= form.label :username %>
            <%= form.text_field :username, class:"form-control", placeholder:"Enter Your Names" %>
          </div>
          <div class="form-group">
            <%= form.label :Messages %>
            <%= form.text_area :mail, class:"form-control", placeholder:"Enter Your Messages" %>
          </div>
          <%= form.submit class:"btn btn-primary"%>
          <%= link_to 'Back', tweets_path,class:"btn btn-danger" %>
        <% end %>
        <br><br>
        <div class="image">
          <%= image_tag("next3.jpg")%><br>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <input type="search" class="search" size="30" placeholder="Search Twitter"><br><br>
        <div class="trendes">
          <h5>Trendes For You</h5>
          <p>Trending New</p>
          <h5>Trendes For You</h5>
          <p>Trending New</p>
          <h5>Trendes For You</h5>
          <p>Trending New</p>
          <h5>Trendes For You</h5>
          <p>Trending New</p>
          <h5>Trendes For You</h5>
          <p>Trending New</p>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
